@media (min-width: 955px) {
    .pk_aqp_air_quality_widget .weather {
        text-align: center;
        padding-top: 15px;
    }
    .pk_aqp_air_quality_widget .weather-data {
        margin: 0 25px;
        display: inline-block;
        width: 100px;
    }
    .pk_aqp_air_quality_widget .weather-data img {
        width: 60px;
    }
}

@media (max-width: 954px) {
    .pk_aqp_air_quality_widget .weather {
        text-align: center;
        padding-top: 15px;
    }
    .pk_aqp_air_quality_widget .weather-data {
        margin: 0;
        display: inline-block;
        width: 100px;
    }
    .pk_aqp_air_quality_widget .weather-data img {
        width: 60px;
    }
}

.pk_aqp_air_quality_widget .top-paragraph {
    margin-bottom: 13px;
}

.pk_aqp_air_quality_widget .aqi-level {
    padding: 10px;
    background-color: #fff;
}
.pk_aqp_air_quality_widget .aqi-level h5 {
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 2px;
}

.pk_aqp_air_quality_widget .aqi-level p {
    text-align: center;
    margin: 0;
    font-size: 65px;
    line-height: 65px;
}

.pk_aqp_air_quality_widget .weather-data p {
    font-size: 20px;
    margin-bottom: 15px;
}

.pk_aqp_air_quality_widget .compass {
    position: relative;
}

.pk_aqp_air_quality_widget .compass-pointer {
    top: 0;
    left: 21px;
    position: absolute;
    z-index: 9999;
}

.pk_aqp_air_quality_widget .pollutions {
    padding: 10px;
    text-align: center;
}

.pk_aqp_air_quality_widget .pollutions span {
    margin: 7px 10px;
    display: inline-block;
    line-height: 15px;
    font-size: 15px;
}

.pk_aqp_air_quality_widget .element-hidden {
    display: none;
}
.pk_aqp_air_quality_widget .details p {
    margin: 0;
}
.pk_aqp_air_quality_widget .sensor-place {
    padding: 10px;
}

.pk_aqp_air_quality_widget .sensor-place p {
    margin: 0;
}

.api-error {
    padding: 10px;
    background-color: #c76464;
    border: 2px dashed #c50000;
}
.api-error p {
    margin: 0;
}